.under-construction{
    background-image: linear-gradient(to right bottom, rgba($black, 0.2), rgba($black, 0.5)),
    url('../images/under-construction/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: white;
    padding-top: 10rem;
    .content{
        position: absolute;
        &-header{
            font-size: 6rem;
        }
        .back-homeXD{
            color: $red;
            font-size: 4rem;
        }
        .content-update-info{
            margin-top: 2rem;
        }
    }
}