.video{
    background-image: url('../images/1/hero-bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;   
    padding-top: 15vh;
    text-align: center;

    .header{
        margin-bottom: 2rem;
    }
    
    .iframe{
        display: inline-block;
        width: 50vw;
        height: 30vw;
    }
}